{% extends 'base.html.twig' %}

{% block title %}Main - Soccer{% endblock %}

{% block body %}
    <div class="container text-center">
        <img src="https://colorlib.com/wp/wp-content/uploads/sites/2/colorlib-push-logo.png" alt="Colorlib logo" class="mt-5">
        <h1 class="mt-4">Thank you for using our template!</h1>
        <p>For more awesome templates please visit <strong><a href="https://colorlib.com/wp/templates/">Colorlib</a></strong>.</p>
        <br>
        <p class="text-danger"><strong>Copyright information for the template can't be altered/removed unless you purchase a license.</strong></p>
        <p><strong>Removing copyright information without the license will result in suspension of your hosting and/or domain name(s).</strong></p>
        <p><strong>More information about the license is available <a href="https://colorlib.com/wp/licence/">here</a></strong>.</p>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        img {
            margin: 0 auto;
            display: block;
            margin-top: 20%;
        }
    </style>
{% endblock %} 