{% extends 'admin_dashboard/dashboard.html.twig' %}


{% block body %}
<h2>Modifier la réclamation</h2>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-warning mt-3">Mettre à jour</button>
{{ form_end(form) }}
{% endblock %}
