{% extends 'admin_dashborad/dashboard.html.twig' %}

{% block body %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <h3>Edit Product</h3>
        <form method="post" action="{{ path('app_product_edit', { id: product.id }) }}">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Update Product</button>
            </div>
            {{ form_end(form) }}
        </form>
    </div>
</main>
{% endblock %}