{% extends 'front_office_dashboard/base.html.twig' %}
{% block title %}history {% endblock %}
{% block banner %}
    <!--================= Banner Section Start Here =================-->
        <div class="banner banner1">
            <div class="inner-page-banner banner-bg">
                <div class="container">
                    <div class="banner-content">
                        <div class="page-path">
                            <ul>
                                <li><a class="home-page-link" href="{{ path('app_home') }}">Home</a></li>
                                <li><a class="current-page" href="#">History</a></li>
                            </ul>
                        </div>
                        <h1 class="banner-heading">TEAM HISTORY</h1>
                    </div>
                </div>
            </div>
        </div>
        <!--================= Banner Section End Here =================-->
{% endblock %}
{% block content %}
<!--================= History Section Start Here =================-->
    <div class="rts-history-section section-gap">
        <div class="container">
            <div class="history-inner">
                <div class="timeline">
                    <div class="top-icon timeline-icon"><i class="fal fa-plus"></i></div>
                    <div class="down-icon timeline-icon"><i class="fal fa-plus"></i></div>
                    <ul>
                        <li>
                            <span class="default-line"></span>
                            <span class="draw-line"></span>
                        </li>
                        <li>
                            <div>
                            </div>
                        </li>
                        <li>
                            <div>
                            </div>
                        </li>
                        <li>
                            <div>
                            </div>
                        </li>
                        <li>
                            <div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="history-item item-left">
                    <div class="content">
                        <h2 class="history-title">JOURNEY WAS STARTED</h2>
                        <p>It is one of the most popular football club that offer
                            training programs for the youth.</p>
                    </div>
                    <div class="history-year text-start">1965</div>
                </div>
                <div class="history-item item-right">
                    <div class="history-year text-end">1975</div>
                    <div class="content">
                        <h2 class="history-title">MORE MEMBERS, MORE STARS</h2>
                        <p>Persistence to build itself into one of the greatest club in the world.</p>
                    </div>
                </div>
                <div class="history-item item-left">
                    <div class="content">
                        <h2 class="history-title">THE ERA OF THE 'DREAM TEAM'</h2>
                        <p>Sportius F.C win their first European Cup in 1985. After this achievement he club is known as 'DREAM TEAM'.</p>
                    </div>
                    <div class="history-year text-start">1985</div>
                </div>
                <div class="history-item item-right">
                    <div class="history-year text-end">1998</div>
                    <div class="content">
                        <h2 class="history-title">BEST YEAR IN OUR HISTORY</h2>
                        <p>They win there 1st Champions League title in a decade of dominance for the blaugranes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================= History Section End Here =================-->

{% endblock %}
{% block footer %}
{{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
